html,body{
  height:100%;
}

#available-letters {
  height: 120px;
  text-align: center;

  .letter {

    .remove-letter {
      position: absolute;
      font-size: 12px;
      right: 5px;
      top: 0px;
      cursor: pointer;
    }
  }

  #generate-button {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #26a69a;
    color: white;
    margin: 10px;
    width: 110px;
    cursor: pointer;
  }
}

#letters {
  .letter-wrapper {
    display: inline-block;
    padding: 8px;

    .letter {
      cursor: pointer;
    }

    .letter-position {

      input {
        width: 50px;
        margin-left: 10px;
        font-size: 16px;
        border: 1px solid grey;
      }
    }
  }

  .clear-button-wrapper {
    display: inline-block;
    position: relative;
    bottom: 30px;
  }
}

#words {
  padding: 10px 0px;

  .word {
    display: inline-block;
    padding: 10px 20px;
  }

  h2 {
    margin: 10px 20px;
  }
}

#instructions {
  h1 {
    text-align: center;
    margin: 10px;
  }

  p{
    margin: 5px;
  }
}

.letter {
  position: relative;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  border: none;
  border-radius: 10px;
  margin: 10px;
  background-color: #FFB74D;
  font-size: 35px;
  vertical-align: bottom;
  cursor: default;

  .point {
    position: absolute;
    font-size: 12px;
    right: 5px;
    bottom: 0px;
  }
}

.clear-button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ee6e73;
  color: white;
  margin: 10px;
  width: 110px;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.available-button-wrapper {
  float: right;
}

.available-letter-wrapper {
  display: inline-block;
}

@media screen and (max-width: 768px) {

  #available-letters {
    height: 150px;

    .available-letter-wrapper {
      height: 105px;
      margin-top: 15px;
      display: block;
    }

    .available-button-wrapper {
      float: none;
      margin-top: 5px;
    }

    .letter {
      width: 50px;
      height: 50px;
      margin: 3px 10px;
      font-size: 30px;
    }

    #generate-button, .clear-button {
        display: inline-block;
    }
  }

  #instructions {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  #letters {
    .letter-wrapper {
      .letter-position {
        input {
          width: 45px;
          margin-left: 12px;
        }
      }
    }

    .clear-button-wrapper {
      bottom: -10px;
    }
  }

  #words {
    h2 {
      margin: 10px 15px;
    }
  }

}
